body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: blue;
    color: #f2f2f2;
    margin-bottom: -22px;
}

.navbar-item {
    text-decoration: none;
    color: #f2f2f2;
    margin-left: 20px;
    padding: 10px;
    background: #555;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}