body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #f0f0f0;
    color: #f2f2f2;
}

.navbar-item {
    text-decoration: none;
    color: #f2f2f2;
    margin-left: 20px;
    padding: 10px;
    background: #555;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-right: 10px;
}

.navbar-item:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#logo {
    width: 15%;
    margin-left: 40px;
    margin-top: -10px;
}

#logo-description {
    font-style: italic;
    text-align: left;
    font-size: small;
    margin-top: 0;
    color: #555;
    font-weight: bold;
    margin-left: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.feedback {
    margin-left: 40px;
    text-align: left;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

#mission {
    font-size: large;
    padding: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
}

#world {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    font-style: oblique;
}

#tour {
    font-size: large;
    line-height: 1.6;
}

span {
    font-weight: bold;
    color: blue;
}

#onye {
    font-size: 40px;
}

#permit {
    font-size: 20px;
    font-style: oblique;
    color: yellow;
}

.state {
    text-align: justify;
    line-height: 1.6;
}

.readmore {
    text-align: justify;
    font-style: oblique;
    color: blue;
    line-height: 1.25;
}

.abia {
    background-color: brown;
    margin-top: -20px;
    margin-bottom: -10px;
}


#welcome {
    text-align: center;

}

#ije {
    font-size: 40px;
    text-transform: uppercase;
}

#services {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

#main {
    font-size: larger;
    text-align: center;
    text-transform: capitalize;

}

.article {
    background-color: #555;
}

#article {
    font-size: 30px;
    color: #f2f2f2;
    text-align: center;
    margin: 40px;
    padding: 40px;
    line-height: 1.2;
    padding-top: 0;
}

input:focus {
    background-color: aqua;
}

fieldset {
    width: 400px;
    margin-left: 20px;
}

#aro {
    margin-left: 20px;
}

#start {
    margin-left: 20px;
    padding-top: 20px;
}

#city {
    margin-bottom: 20px;

}

figure>p {
    text-align: center;
    font-style: italic;
}

.contact {
    text-align: center;
    background-color: orchid;
    font-size: 30px;
    font-weight: 80;
    text-transform: uppercase;
    margin-top: -50px;
}

#contact {
    text-transform: capitalize;
    font-style: italic;
}

.naija {
    text-align: center;
    background-color: antiquewhite;
    font-size: 30px;
    line-height: 1.6;
    font-style: italic;
    font-weight: bold;
}

#abia {
    margin: 10px;
    font-style: oblique;
}

.navbar-links {
    margin-right: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: 40px;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#get {
    font-size: larger;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

td {
    border: 1px solid #000;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#about-us {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: orangered;
    line-height: 1.6;
    margin-top: -40px;
}

.back {
    background-image: url(assets/images/arochukwu-long.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-item,
    .navbar-links {
        margin: 10px 0;
    }

    #logo {
        width: 50%;
        margin-left: 25%;
        margin-top: 0;
    }

    .content {
        flex-direction: column;
        width: 100%;
    }

    fieldset {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #aro,
    #start {
        margin-left: 5%;
    }

    #city {
        margin: 10px 0;
    }
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}